/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, table, tr, th, td, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    background-image: url('/static/img/background_car.jpg'); /* Chemin vers votre image de fond */
    background-size: cover; /* Pour couvrir toute la surface de l'arrière-plan */
    /* Autres styles de votre choix */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 25px;

}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 25px;
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25px;
}

button:hover {
    background-color: #0056b3;
}
.boutons-container{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 20px;
    margin-top: 30px;
}
